body{
	background-color: red
}
h1{
	text-align: center;
}
.lead{
	text-align: center;
}
.pictures{
	text-align: center;
}
.nav{
	font-size: 30px;
	color:black;
}
.display-3{
	color: #3399ff;
}
.nav-link{
	color:#3399ff;
}
.Resume{
	text-align: center;
}
.aboutme{
	color: #3399ff;
	font-size: 28px;
}
.aboutme a{
	color: black;
	font-size: 28px;
}
/*#EFFBFB,*/